.sidebar {
  height: 93vh;
  width: 15vw;
  background-color: #4D4DFF;
  position: fixed;
  border-top-right-radius: 20px;
  padding: 1.5vh;
  padding-bottom: 5vh;
  box-shadow: 1px 4px 7px 0;
  overflow: scroll;
  top: 7vh;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.search {
  height: 4.5vh;
  font-size: 2vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  letter-spacing: -0.02rem;
}

button, a {
  display: block;
  height: 4.5vh;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  margin-bottom: 0.5vh;
  font-size: 2vh;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  border: 0;
  color: white;
  white-space: nowrap;
  letter-spacing: -0.02rem;
  transition: background-color 0.3s, color 0.3s;
  direction: rtl;
}

button.active {
  background-color: white;
  color: #4D4DFF;
  font-weight: 400;
}

button:hover:not(.active) {
  background-color: rgb(255, 255, 255, 0.1);
  color: white;
}

.options {
  width: 100%;
  padding: 0.5vh;
  border-radius: 10px;
  margin-bottom: 0.5vh;
}

.options-opener-button {
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 50%;
  background-color: transparent;
  border: 0;
  justify-content: center;
}

.options-opener-button:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

img {
  height: 3vh;
  width: 3vh;
}

.archive-opener-button {
  display: flex;
  flex-direction: row;
  height: 4.5vh;
  width: 100%;
  border-radius: 10px;
  border: 0;
  font-weight: 400;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.1);
  margin-top: 2vh;
  margin-bottom: 0.5vh;
  padding-left: 1vw;
  padding-right: 0.5vw;
  direction: ltr;
}

.archive-opener-button:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.collapse button {
  color: lightgrey
}

.collapse button.active {
  color: #4D4DFF;
}
