.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  height: 50vh;
  width: 50vh;
  background-color: white;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4);
}

input {
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 3px;
  height: 4.5vh;
}

span {
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0;
  height: 4.5vh;
}

.user-name {
  height: 4.5vh;
  text-align: start;
}

.work-time {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.validationsContainer {
  width: calc(100% - 40px);
  position: fixed;
  bottom: calc(10% + 25px);
  left: 20px;
}

.validation {
  height: 3vh;
  width: 100%;
  color: red;
  font-size: 2vh;
}

.dropdown button,
::ng-deep .p-calendar .p-inputtext {
  display: block;
  width: calc((50vh - 42px) * 0.72);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdownImg {
  display: flex;
  height: 4.5vh;
  width: 4.5vh;
  position: absolute;
  right: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  border-left: 1px solid Gainsboro;
}

.dropdownImg img {
  height: 60%;
  width: 60%;
}

.dropdown-scroll {
  height: 23.5vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 2vh;
  padding-top: 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4);
}

#dropdown-item:hover {
  background-color: ghostwhite;
}

.dropdown-scroll::-webkit-scrollbar {
  display: none;
}

::ng-deep .p-calendar .p-inputtext:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

::ng-deep .p-calendar .p-datepicker {
  height: 33vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4);
  color: #343434;
  background-color: white;
  padding-left: 1vh;
  padding-right: 1vh;
}

::ng-deep .p-calendar .p-datepicker-calendar {
  height: 27vh;
  text-align: center;
}

::ng-deep .p-calendar .p-datepicker-monthpicker {
  height: 1vh;
  background-color: green;
}

::ng-deep .p-calendar .p-highlight {
  background-color: #4D4DFF;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
}

::ng-deep .p-calendar .p-disabled {
  color: lightgrey;
}

::ng-deep .p-calendar button {
  height: 5vh;
  background-color: transparent;
  font-weight: bold;
  border: 0;
  color: #4D4DFF;
}

::ng-deep .p-calendar .p-hidden-accessible {
  display: none;
}

.invalid {
  border: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 47vh;
  text-align: center;
}