<div class="container">
  <img class="logo" src="../../../assets/logo.jpg">
  <div class="wave-container">
      <h1 class="wave-text">
          <span>M</span><span>a</span><span>x</span><span>i</span><span>m</span><span>u</span><span>s</span>
      </h1>
  </div>
  <nav>
    <button class="btn" routerLink="/users" routerLinkActive="active">Users</button>
    <button class="btn" routerLink="/projects" routerLinkActive="active">Projects</button>
    <button class="btn" routerLink="/tasks" routerLinkActive="active" disabled>Tasks</button>
  </nav>
  <div class="green-dot" title="Max Neviantsev"></div>
</div>