.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  height: 6vh;
  width: 6vh;
  border-radius: 3vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

h1 {
  font-size: 3.8vh;
  color: dodgerblue;
  font-weight: 300;
  letter-spacing: -0.08rem;
  font-family: "Segoe UI";
  margin-right: 0.5vw;
}

nav {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  left: 16vw;
}

nav button {
  width: 4vw;
  height: 4vh;
  padding: 0;
  font-size: 2vh;
  color: grey;
  background-color: transparent;
  margin-right: 0.5vw;
  border-radius: 10px;
  border: 0;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: ghostwhite;
}

nav button.active {
  color: #4D4DFF;
  font-weight: 600;
}
