.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  height: 6vh;
  width: 6vh;
  border-radius: 3vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

h1 {
  font-size: 3.8vh;
  color: dodgerblue;
  font-weight: 300;
  letter-spacing: -0.08rem;
  font-family: "Segoe UI";
  margin-right: 0.5vw;
}

nav {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  left: 16vw;
}

nav button {
  width: 4vw;
  height: 4vh;
  padding: 0;
  font-size: 2vh;
  color: grey;
  background-color: transparent;
  margin-right: 0.5vw;
  border-radius: 10px;
  border: 0;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: ghostwhite;
}

nav button.active {
  color: #4D4DFF;
  font-weight: 600;
}

.green-dot {
  width: 5px;
  height: 5px;
  background-color: limegreen;
  border-radius: 50%;
  position: absolute;
  right: 3px;
  top: 3px;
}

.wave-text span {
    display: inline-block;
    font-size: 3vh;
    animation: wave 5s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
    animation-delay: 1s;
}
.wave-text span:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-20px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}