<div class="sidebar">
	<div class="options" [@openClose]="state">
		<button class="options-opener-button" (click)="optionsController()">
			@if (!isOptionsOpened){<img src="../../../assets/3 dots.png" />}
			@if (isOptionsOpened){<img src="../../../assets/expand.png" />}
		</button>
		@if (isOptionsOpened) {
		<button class="option" (click)="createNewUser()">Add new user</button>
		}
	</div>

	<input class="form-control me-2 search" type="search"
		placeholder="Search user" aria-label="Search" (keyup)="filterUsers($event)">

	<div (click)="onButtonGroupClick($event)">
		@for (user of filteredActiveUsers; track user; let i = $index) {
		<button (click)="onUserSelect($event, user)" id="{{ user.fname + user.lname + user.id }}">{{user.fname}} {{user.lname}}</button>
		}
		<a class="archive-opener-button" type="button" data-bs-toggle="collapse" data-bs-target="#archiveList" (click)="archiveController()">
			<div>Archived users</div>
			@if (!isArchiveOpened){<img src="../../../assets/expand.png" style="transform: rotate(180deg)" />}
			@if (isArchiveOpened){<img src="../../../assets/expand.png" />}
		</a>
		<div class="collapse" id="archiveList">
			@for (user of filteredArchivedUsers; track user; let i = $index) {
			<button (click)="onUserSelect($event, user)" id="{{user.fname + user.lname + user.id}}">{{user.fname}} {{user.lname}}</button>
			}
		</div>
	</div>
</div>