.container {
  height: 80vh;
  width: 100%;
  background-color: white;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: rgb(77, 77, 255, 0.1);
}

th, td {
  height: 4vh;
  font-size: 2vh;
  color: #343434;
  padding: 0.5vh;
}

.table-gradient {
  height: 3vh;
  width: calc(100% - 600px);
  position: fixed;
  bottom: 2vh;
  background-image: linear-gradient(180deg, rgb(255, 255, 255, 0.5), white);
}

.no-reports {
  width: 100%;
  color: lightgrey;
  font-size: 6vh;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-top: 15vh;
}

.no-reports-img {
  margin-top: 3vh;
  height: 15vh;
  width: 15vh;
}

.button-column {
  height: 3vh;
  display: flex;
  justify-content: end;
  padding: 0;
  background-color: transparent;
}

button {
  display: none;
  height: 100%;
  border-radius: 3px;
  padding: 0;
}

.edit-button {
  width: 5vh;
  font-size: 1.5vh;
  font-weight: bold;
  color: white;
  background-color: #0d6efd;
}

.delete-button {
  background-color: rgb(255, 40, 40);
  width: 3vh;
  margin-left: 3px;
}

.delete-img {
  background: url(../../../../../assets/delete.png);
  background-size: contain;
  height: 2.5vh;
  width: 2.5vh;
}

tr:hover button {
  display: inline-block;
}
