header {
  position: fixed;
  width: 100vw;
  height: 7vh;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  padding-top: 7vh;
  background-color: ghostwhite;
  color: #343434;
}