header {
  position: fixed;
  width: 100vw;
  height: 7vh;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  padding-top: 7vh;
  background: radial-gradient(#f4f3ff 15%, transparent 16%), linear-gradient(45deg, transparent 49%, #f4f3ff 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #f4f3ff 49% 51%, transparent 51%);
  background-size: 2em 2em;
  background-color: #ffffff;
  color: #343434;
}