<div [@openClose]="state">
	<button class="background" (click)="closeAction()"></button>
	<div class="container">
		<div class="header">
			<h2>{{data.day}} {{data.date}}</h2>
			<div class="totalReportedHours">Total time: {{totalTime}}</div>
		</div>
		@if (!isLoading) {
		<div class="projects-table-header">
			<h6 style="width: 12vw;">Project</h6>
			<h6 style="width: 5vw;">Hours</h6>
			<h6 style="width: 5vw;">Minutes</h6>
			<h6 style="width: 6vw;">Stage</h6>
			<h6 style="width: 23vw;">Description</h6>
		</div>
		<div class="projectsSection">
			@for (project of bookmarkedProjects; track project; let i = $index) {
			<div class="project">
				<span title={{project.name}} class="input-group-text"
					style="width: 12vw; overflow: hidden; direction: rtl;">{{project.name}}</span>

				<div class="input-group flex-nowrap" style="width: 5vw; margin-left: 1vw;">
					<button type="button" class="btn btn-light plus-minus-btn" style="width: 2vw;"
						(click)="onPlusButtonClick(i)">+</button>
					<input #h [(ngModel)]="projectsModel[i].hours" type="number" class="form-control" maxlength="2"
						(input)="onInput($event, i, true)">
				</div>

				<div class="input-group flex-nowrap" style="width: 5vw; margin-left: 1vw;">
					<input #m [(ngModel)]="projectsModel[i].minutes" type="number" class="form-control" maxlength="2"
						(input)="onInput($event, i, false)">
					<button type="button" class="btn btn-light plus-minus-btn" style="width: 2vw;"
						(click)="onMinusButtonClick(i)">-</button>
				</div>

				<div class="dropdown" style="width: 6vw; margin-left: 1vw;">
					<button #j type="button" class="btn btn-light projects-btn" data-bs-toggle="dropdown"
						aria-expanded="false" style="direction: rtl; align-items: center; justify-content: space-between;"
					>
						<div>{{ jobType || 'שלב...' }}</div>
						<img style="height: 2vh; width: 2vh;" src="../../../assets/expand-2.png" />
					</button>

					<ul class="dropdown-menu" style="width: 6vw;">
						@if (jobTypes[project.id]?.length) {
							<button class="dropdown-item text-muted" type="button" style="border: 0" (click)="jobType = ''">
								---
							</button>

							@for (type of jobTypes[project.id]; track type) {
								<button class="dropdown-item" type="button" style="border: 0" (click)="jobType = type.name">
									{{ type.name }}
								</button>
							}
						} @else {
							<li class="dropdown-item text-muted" style="border: 0;">אין שלבים</li>
						}
					</ul>
				</div>

				<div class="input-group input-group-sm mb-3" style="width: 23vw; margin-left: 1vw;">
					<input #d [(ngModel)]="projectsModel[i].description" type="text" class="form-control" style="width: 100%" maxlength="200">
				</div>
			</div>
			}
		</div>

		<h6>More projects:</h6>
		<div class="dropdown">
			<button type="button" class="btn btn-light projects-btn" data-bs-toggle="dropdown" aria-expanded="false"
				data-bs-reference="parent" (click)="getProjects()">
				<div>Projects list...</div>
				<img src="../../../assets/expand-dark.png" />
			</button>
			<ul class="dropdown-menu dropdown-scroll">
				@if (isProjectsListLoading) {
				<div class="projects-list-loading">
					@if (isProjectsListError){
					Error retrieving data
					<div><img class="projects-list-error-img" src="../../../assets/error-red.png" /></div>
					}
					@if (!isProjectsListError){
					<LoadingSpinnerComponent />}
				</div>
				}
				@if (!isProjectsListLoading) {
				<input class="form-control me-2" type="search" placeholder="Search project" aria-label="Search"
					(keyup)="filterProjects($event)">
				@for (project of filteredProjects; track project; let i = $index) {
				<button id="dropdown-item" class="dropdown-item" style="border: 0" type="button"
					(click)="onOtherProjectSelected(project)">{{project.name}}</button>
				}
				}
			</ul>
		</div>

		<div>
			@if (!descriptionValid) {<div class="validation">Description is mandatory</div>}
			@if (!jobTypeValid) {<div class="validation">Stage is mandatory</div>}
			@if (!timeValid) {<div class="validation">Illegal time report</div>}
			@if (!maxTimeValid) {<div class="validation">Maximum daily time report allowed is 16 hours</div>}
			@if (isError) {<div class="validation">Server error, couldn't save report</div>}
			@if (isStagesError) {<div class="validation">An error accured while retrieving stages</div>}
		</div>

		<div class="input-group-sm mb-3 buttons-group">
			<button type="submit" class="btn btn-success" style="width: 20%" (click)="saveAction()">Save</button>
			<button type="button" class="btn btn-danger" style="width: 20%" (click)="closeAction()">Cancel</button>
		</div>
		}
		@if (isLoading) {
		<div class="loading">
			@if (isError){
			Error retrieving data
			<div><img class="error-img" src="../../../assets/error-red.png" /></div>
			}
			@if (!isError){
			<LoadingSpinnerComponent />}
		</div>
		}
	</div>
</div>