.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.container {
  height: 50vh;
  width: 50vh;
  background-color: white;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4);
  z-index: 999;
}

input {
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 3px;
  height: 4.5vh;
}

span {
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0;
  height: 4.5vh;
}

.buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.validationsContainer {
  width: calc(100% - 40px);
  position: fixed;
  bottom: calc(10% + 25px);
  left: 20px;
}

.validation {
  height: 3vh;
  width: 100%;
  color: red;
  font-size: 2vh;
}

.invalid {
  border: 1px solid red;
}

.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 32vh;
  text-align: center;
}