main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: #343434;
}

aside {
  display: block;
  width: 15vw;
  height: 100%;
}

.content {
  display: block;
  width: 70vw;
  height: 100%;
  padding: 2vh;
}