.container {
  height: 80vh;
  width: 100%;
  background-color: white;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 1vh;
  padding-left: 1.5%;
  padding-right: 1.5%;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

::ng-deep .p-calendar .p-datepicker-inline,
::ng-deep .p-calendar {
  text-align: center;
  height: 100%;
  width: 100%;
}

::ng-deep .p-calendar .p-datepicker-calendar {
  height: 72vh;
}

::ng-deep .p-calendar .p-datepicker-calendar .p-element {
  height: 10vh;
  width: 8vw;
  color: white;
  font-weight: bold;
  font-size: 2vh;
  border-radius: 1vh;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  align-items: unset;
  justify-content: unset;
}

::ng-deep .p-calendar .p-datepicker-calendar .p-disabled {
  color: darkgray;
  cursor: default;
}

::ng-deep .p-calendar .p-datepicker-calendar .p-datepicker-other-month .p-element {
  color: darkgray;
  cursor: default;
}

::ng-deep .p-calendar .p-highlight {
  background-color: #4D4DFF;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
}

::ng-deep .p-calendar .p-disabled {
  color: lightgrey;
}

::ng-deep .p-calendar button {
  height: 5vh;
  background-color: transparent;
  font-weight: bold;
  border: 0;
  color: #4D4DFF;
}

::ng-deep .p-calendar .p-datepicker-monthpicker span {
  width: 30%;
  border: 2px solid ghostwhite;
  border-radius: 5px;
  margin: 1.6%;
}

::ng-deep .p-calendar .p-hidden-accessible {
  display: none;
}

::ng-deep .time-reported {
  border-radius: 0.8vh;
  background-color: rgb(0, 0, 0, 0.2);
  font-size: 1.6vh;
  font-weight: bold;
  color: white;
  position: absolute;
  right: 0.5vw;
  bottom: 0.8vh;
  padding-right: 0.3vw;
  padding-left: 0.3vw;
}

.no-reports {
  width: 100%;
  color: lightgrey;
  font-size: 6vh;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-top: 15vh;
}

.no-reports-img {
  margin-top: 3vh;
  height: 15vh;
  width: 15vh;
}
