.container {
  height: 73vh;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 1vh;
  padding-left: 1.5%;
  padding-right: 1.5%;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

::ng-deep .p-calendar .p-datepicker-inline,
::ng-deep .p-calendar {
  text-align: center;
  height: 100%;
  width: 100%;
}

::ng-deep .p-calendar .p-datepicker-calendar {
  height: 65vh;
}

::ng-deep tr {
  border-bottom: 1px solid #e5e7eb;
}

::ng-deep .p-calendar .p-datepicker-calendar .p-element {
  height: 100%;
  min-height: 10vh;
  width: 100%;
  min-width: 9.1vw;
  color: #343434;
  font-weight: bold;
  font-size: 2vh;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: unset;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  background-color: white;
  border-right: 1px solid #e5e7eb;
  transition: background-color 0.3s;
}

::ng-deep .p-calendar .p-datepicker-calendar .p-element:hover {
  background-color: whitesmoke;
}

::ng-deep .p-calendar .p-datepicker-calendar .p-disabled {
  color: darkgray;
  cursor: default;
}

::ng-deep .p-calendar .p-datepicker-calendar .p-datepicker-other-month .p-element {
  color: darkgray;
  cursor: default;
}

::ng-deep .p-calendar .p-highlight {
  background-color: #4D4DFF;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
}

::ng-deep .p-calendar .p-disabled {
  color: #e5e7eb;
}

::ng-deep .p-calendar button {
  height: 5vh;
  background-color: transparent;
  font-weight: bold;
  border: 0;
  color: #4D4DFF;
}

::ng-deep .p-calendar .p-datepicker-monthpicker span {
  width: 30%;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
  margin: 1.6%;
}

::ng-deep .p-calendar .p-hidden-accessible {
  display: none;
}

::ng-deep .time-reported {
  border-radius: 0.6vh;
  font-size: 1.7vh;
  color: white;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  font-weight: 500;
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  margin-top: 0.5vh;
}

.no-reports {
  width: 100%;
  color: lightgrey;
  font-size: 6vh;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-top: 15vh;
}

.no-reports-img {
  margin-top: 3vh;
  height: 15vh;
  width: 15vh;
}

::ng-deep .project-indicator {
  display: inline-block;
  width: 1.5vw;
  height: 1vh;
  border-radius: 4px;
  margin-right: 0.2vw;
  margin-top: 0.5vh;
  position: relative;
}

::ng-deep .project-indicator .project-hours {
  display: none;
  position: absolute;
  top: -3vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: ghostwhite;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 1.5vh;
  white-space: nowrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

::ng-deep .project-indicator:hover .project-hours {
  display: block;
}