.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  height: 25vh;
  width: 50vh;
  background-color: white;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 2vh;
  font-weight: 500;
  text-align: center;
  margin-top: 3vh;
}

.buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 47vh;
  text-align: center;
}

.validation {
  height: 4vh;
  width: 100%;
  color: red;
  width: calc(100% - 40px);
  position: fixed;
  bottom: calc(20% + 25px);
  left: 20px;
}